.navbar-default .navbar-brand {
    color: #ffffff;
    background-color: rgb(134, 190, 184);
    font-family: Roboto;
    font-size: 34px;
    font-weight: 300;
}

.navbar-header {
    width: 400px;
    margin-left: 75px !important;
}

.sigline {
    color: rgb(134, 190, 184);
    text-align: left;
    float: left;
    font-family: Roboto;
}

.navbar-header .navbar-toggle .collapsed {
    float: right;
    font-family: Roboto;
    color: rgb(134, 190, 184);
}

.content {
    margin-top: 100px;
}

h1 {
    font-family: Roboto;
    font-size: 38px;
    font-weight: 300;
    text-align: center
}

h2 {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 300;
    text-align: center
}

h3 {
    font-family: Roboto;
    font-weight: 300;
    text-align: center;
}

.box {
    color: #fff;
    background: #7609b6;
}

.box-left {
    padding: 20px;
}

.box-right {
    padding: 30px;
}

.box-single {
    padding: 50px;
    margin: 70px;
}

#summary {
    margin: 10px;
    font-size: 17px;
    line-height: 1.8em;
}

#city-sample {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px 20px;
}

#landing-viz {
    padding: 15px 15px 15px 15px;
    width: 100%;
    height: 100%;
}

.figure:active {
    border: 5px solid #7609b6;
}

.jumbotron {
    color: #fff;
    background: #7609b6;
    width: 100%;
    height: 100%;
    padding: 25px
}

.table {
    color: #fff;
    background: #7609b6;
    width: 100%;
    height: 100%;
    padding: 15px
}

#viz-main {
    padding: 25px 40px 30px 40px;
    width: 100%;
}

.row.row-grid [class*="col-"]+[class*="col-"] {
    margin-top: 30px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"]+[class*="col-lg-"] {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"]+[class*="col-md-"] {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"]+[class*="col-sm-"] {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .row.row-grid [class*="col-xs-"]+[class*="col-xs-"] {
        margin-top: 0;
    }
}